<h2>{{titulo}}</h2>
<p>Añadir marca</p>
<input type="text" [(ngModel)]="mi_marca" (keyup.space)="MostrarPalabra()">
<button (click)="getMarca()">Get Marcas</button>
<button (click)="addMarca()">Add Marcas</button>
<p>{{mi_marca}}</p>
<p>Compra las zapatillas de las mejores marcas</p>
<ul>
    <li *ngFor="let marca of marcas; let indice=index">
        {{indice+" - "+marca}}
        <button (click)="borrarMarca(indice)">Borrar</button>
    </li>
</ul>
<p>Las deportivas que tenemos disponibles son las siguientes:</p>
<ul>
    <li *ngFor="let deportivas of zapatillas">
        <span [ngStyle]="{
        'text-decoration':!deportivas.stock ?'line-through' :'none'
        }">{{deportivas.nombre}} - 
        
        <strong 
        [class.altoPrecio]="deportivas.precio>=80"
        [ngClass]="{
            'subrayado':deportivas.marca=='Nike',
            'fondoRojo':deportivas.precio>=100
        }"  
        
        >{{deportivas.precio}} 
        </strong></span>
        
        <span *ngIf="deportivas.precio <= 80"
                    [style.background]="deportivas.precio <= 80 ? 'green': 'transparent'"
                    [style.color]="deportivas.precio <= 80 ? 'white': 'transparent'">¡EN OFERTA!</span>
        
    </li>
    
</ul>
<p>El color de la mayoria de nuestras zapatillas es: </p>
<input type="text" [(ngModel)]="color"/>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color predominante es el <span [ngStyle]="{
            'background': color
        }">amarillo</span>.
    </li>
   
     <li *ngSwitchCase="'red'">
        El color predominante es el <span [ngStyle]="{
            'background': color
        }">rojo</span>.
    </li>
    <li *ngSwitchCase="'blue'">
        El color predominante es el <span [ngStyle]="{
            'background': color
        }">azul</span>.
    </li>
   
     <li *ngSwitchCase="'orange'">
        El color predominante es el <span [ngStyle]="{
            'background': color
        }">naranja</span>.
    </li>
</ul>